
<div class="row">
  <div class="col-md-12">
    <button class="btn-outline-info btn" (click)="reload()">Reload</button>
    <button class="btn-outline-info btn" (click)="wywolajLogowanieTekstu()">Zaloguj</button>
    {{username}}



  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-header text-center">
        <h4>Użytkownicy ({{users.length}} / akt: {{countOfActiveUsers()}})</h4>
      </div>
      <div class="card-body bg-dark">
        <table class="table table-sm table-hover table-dark">
          <thead>
          <td>Imię</td>
          <td>Nazwisko</td>
          <td>Grupa</td>
          <td>Aktywny</td>
          </thead>
          <tbody>
          <tr *ngFor="let u of users">
            <td>{{u.firstName}}</td>
            <td>{{u.lastName}}</td>
            <td>{{u.gid}}</td>
            <td> <input type="checkbox"  [(ngModel)]="u.active"></td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="card-footer bg-dark">
        <button class="btn btn-outline-info" data-toggle="modal" data-target="#addUserModal">
          Dodaj użytkownika
        </button>
        <br>
        {{showUser()}}
      </div>

    </div>
  </div>


  <div class="col-md-6">
    <div class="card">
      <div class="card-header text-center">
        <h4>Grupy</h4>
      </div>
      <div class="card-body bg-dark">
        <table class="table table-sm table-hover table-dark">
          <thead>
          <td>Id</td>
          <td>Nazwa</td>
          <td>Aktywna</td>
          </thead>
          <tbody>
          <tr *ngFor="let u of groups">
            <td>{{u.gid}}</td>
            <td>{{u.name}}</td>
            <td> <input type="checkbox"  [(ngModel)]="u.active"></td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="card-footer bg-dark">
        <button class="btn btn-outline-info" data-toggle="modal" data-target="#addGroupModal">
          Dodaj grupę
        </button>
      </div>

    </div>
  </div>


</div>

<!-- Modal: dodawanie usera -->
<!--`fade` disabled-->
<div class="modal text-dark" id="addUserModal" tabindex="-1" role="dialog">
  <div class="modal-dialog bg-dark" role="document">
    <div class="modal-content bg-dark">
      <div class="modal-header bg-dark text-white">
        <h5 class="modal-title">Dodaj użytkownika</h5>
        <button type="button" class="close text-white" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body bg-dark">


        <form>
          <div class="form-group row text-light">
            <label for="inputImie" class="col-sm-3 col-form-label">Imię</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputImie" name="first"
                     [(ngModel)]="nuser.firstName">
            </div>
          </div>
          <div class="form-group row text-light">
            <label for="inputNazwisko" class="col-sm-3 col-form-label">Nazwisko</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputNazwisko" name="last"
                     [(ngModel)]="nuser.lastName">
            </div>
          </div>
          <div class="form-group row text-light">
            <label for="inputWynik" class="col-sm-3 col-form-label">Grupa</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputWynik" name="group"
                     [(ngModel)]="nuser.gid">
            </div>
          </div>
        </form>



        <input [(ngModel)]="username" placeholder="nazwisko">
        <p class="text-white">
          ffff {{dziwnyNapis}}

        </p>

        <span class="dropdown">

              <button class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">
<!--                <span *ngIf="groupOfEditedUser!==undefined">-->
<!--                  {{groupOfEditedUser.name}}-->
<!--                </span>-->
<!--                <span *ngIf="groupOfEditedUser===undefined">-->
<!--                  '-&#45;&#45;wybierz-&#45;&#45;'-->
<!--                </span>-->
                {{groupOfEditedUser ? groupOfEditedUser.name : '--wybierz--'}}
              </button>

              <div class="dropdown-menu">
                <a class="dropdown-item clickable"
                   *ngFor="let gg of groups" (click)="groupOfEditedUser=gg">{{gg.name}}</a>
              </div>
            </span>

            <span class="dropdown">
              <button class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">
                Selection 2...
              </button>
              <div class="dropdown-menu" >
                <a class="dropdown-item clickable" >Action1</a>
                <a class="dropdown-item clickable" >Action2</a>
                <a class="dropdown-item clickable" >Action3</a>
              </div>
            </span>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Porzuć</button>
        <button type="button" class="btn btn-primary" (click)="saveNewUser()">Zapisz</button>
      </div>
    </div>
  </div>
</div>

<!--Dodawanie grupy-->
<div class="modal text-dark" id="addGroupModal" tabindex="-1" role="dialog">
  <div class="modal-dialog bg-dark" role="document">
    <div class="modal-content bg-dark">
      <div class="modal-header bg-dark text-white">
        <h5 class="modal-title">Header</h5>
      </div>
      <div class="modal-body bg-dark">
        (body)
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Porzuć</button>
        <button type="button" class="btn btn-primary">Zapisz</button>
      </div>
    </div>
  </div>
</div>
