
<div class="row text-white">
  <div class="col-md-8">
    <div class="card">
      Userzy: {{usersService.userzy}}
      <ul>
        <li *ngFor="let u of usersService.userzy"> user: {{u}}</li>
      </ul>
    </div>
    <div class="card mt-1">
      Edycja kontaktu {{edytowanyKontakt.imie}}:<br>
      <input type="text" [ngModel]="edytowanyKontakt.imie">
      <input type="text" [(ngModel)]="edytowanyKontakt.imie">

    </div>

    <app-progress [name]="edytowanyKontakt.imie"
                  [fullContact]="edytowanyKontakt"
                  (nameChanged)="edytowanyKontakt.imie = $event"></app-progress>

  </div>

  <div class="col-md-4">

    <div class="card">
      <div class="card-header h4">
        Dane kontaktowe
      </div>
      <div class="card-body">
        Adres: {{adres}}, {{houseNumber + houseNumber}} {{x}}
      </div>
      <div class="card-footer text-right">
        <button class="btn btn-outline-light" (click)="mojaAkcja()"> Click me!</button>
      </div>
    </div>


  </div>
</div>
