<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card trx mt-4 full_transparent">
      <div class="card-header text-center h5 part_transparent"> SERWER HASEŁ</div>
      <div class="card-body part_transparent">
        <form>
          <div class="form-group mt-6">
            <label for="exampleInputEmail1" class="pl-2 gray small">ALIAS</label>
            <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="user_in_edit" name="ialias"
                   aria-describedby="emailHelp">
          </div>
          <div class="form-group mt-4">
            <label for="exampleInputPassword1" class="pl-2 gray small">HASŁO</label>
            <input type="password" class="form-control" name="ipass" [(ngModel)]="pass_in_edit"
                   id="exampleInputPassword1">
          </div>
          <div class="form-group mt-4">
            <label for="newPass" class="pl-2 gray small">NOWE HASŁO</label>
            <input type="password" class="form-control" name="inewpass" [(ngModel)]="newpass_in_edit"
                   id="newPass">
          </div>
          <div class="text-right">
            <button type="submit" class="btn btn-success mr-2" (click)="checkPassword()">Sprawdź</button>
            <button type="submit" class="btn btn-light">Ustaw</button>
          </div>
        </form>

      </div>
      <div class="card-footer part_transparent">
      </div>
    </div>


  </div>
  <div class="col-md-4"></div>

</div>
