/* You can add global styles to this file, and also import other style files */

//@import (inline) '~@ng-bootstrap';
//@import "../../../../node_modules/bootstrap/dist/css/bootstrap.min.css";
//@import "../node_modules/bootstrap/scss/_card.scss";

body {
  background: #010301 url('assets/ac.jpeg') no-repeat;
  background-size: 2000px;
}

.trx {
  background-color: rgba(255,255,255,0.1);
}

@very_transparent: rgba(0,0,0,0.1);

@less_transparent: rgba(0,0,0,0.4);


input{
  background-color: @very_transparent;
  color: yellow;
}

.aa {
  color: blue;
}

.card, .card-header, .card-body, .card-footer {
  //add bg-dark to all card classes; todo: replace by bg-dark somehow
  background-color: #343a40;
}

//neh... how do it...
//.ccc {
//  &:extend(.card-header all, .bg-dark all);
//  background-color: #0e4237;
//}


.clickable {
  cursor: pointer;
}


html {
  //font-size: 26px;
}
